In [ ]:
# numpy vs pandas

# numpy uses arrays with an index (e.g., 0, 1, 2)
# pandas series is built on top of numpy arrays; therefore, it can use arrays with an index
# however, it can also use named columns (think database tables)

In [1]:
import numpy as np
import pandas as pd

In [2]:
labels = ["a", "b", "c"]

In [3]:
my_list = [10, 20, 30]

In [5]:
arr = np.array(my_list)

In [6]:
d = {"a": 10, "b": 20, "c": 30}

In [7]:
pd.Series(data=my_list)

0    10
1    20
2    30
dtype: int64

In [9]:
pd.Series(data=arr, index=labels)

a    10
b    20
c    30
dtype: int32

In [10]:
pd.Series(data=[10, "a", 4.4])

0     10
1      a
2    4.4
dtype: object

In [13]:
s1 = pd.Series(data=[1, 2, 3, 4], index=["USA", "Germany", "USSR", "Japan"])

In [14]:
s1

USA        1
Germany    2
USSR       3
Japan      4
dtype: int64

In [15]:
s1["USA"]

1

In [16]:
s2 = pd.Series(data=[1, 4, 5, 6], index=["USA", "Germany", "Italy", "Japan"])

In [17]:
s2

USA        1
Germany    4
Italy      5
Japan      6
dtype: int64

In [18]:
s1 + s2

Germany     6.0
Italy       NaN
Japan      10.0
USA         2.0
USSR        NaN
dtype: float64