In [1]:
from datetime import datetime

In [2]:
my_year = 2020
my_month = 1
my_day = 2
my_hour = 13
my_min = 30
my_sec = 15

In [5]:
my_date = datetime(my_year, my_month, my_day)

In [6]:
my_date

datetime.datetime(2020, 1, 2, 0, 0)

In [7]:
my_date_time = datetime(my_year, my_month, my_day, my_hour, my_min, my_sec)

In [8]:
my_date_time

datetime.datetime(2020, 1, 2, 13, 30, 15)

In [10]:
type(my_date_time)

datetime.datetime

In [9]:
my_date_time.day

2

In [11]:
import numpy as np

In [13]:
# the datetime64[D] represents day level precision
# so, if you needed a year level precision, set dtype="datetime64[Y]"

np.array(["2020-03-15", "2020-03-16", "2020-03-17"], dtype="datetime64")

array(['2020-03-15', '2020-03-16', '2020-03-17'], dtype='datetime64[D]')

In [18]:
# a datetime range between 2018-06-01 and 2018-06-23, with a step size of 7 days

np.arange("2018-06-01", "2018-06-23", 7, dtype="datetime64[D]")

array(['2018-06-01', '2018-06-08', '2018-06-15', '2018-06-22'],
      dtype='datetime64[D]')

In [19]:
np.arange('2000', "2018", dtype="datetime64[Y]")

array(['2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007',
       '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015',
       '2016', '2017'], dtype='datetime64[Y]')

In [20]:
import pandas as pd

In [21]:
# DatetimeIndex with nanosec precision by default

pd.date_range("2020-01-01", periods=7, freq="D")

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05', '2020-01-06', '2020-01-07'],
              dtype='datetime64[ns]', freq='D')

In [22]:
# pandas can infer the date parameter

pd.date_range("Jan 01, 2018", periods=7, freq="D")

DatetimeIndex(['2018-01-01', '2018-01-02', '2018-01-03', '2018-01-04',
               '2018-01-05', '2018-01-06', '2018-01-07'],
              dtype='datetime64[ns]', freq='D')

In [23]:
pd.to_datetime(["1/2/2018", "Jan 03, 2018"])

DatetimeIndex(['2018-01-02', '2018-01-03'], dtype='datetime64[ns]', freq=None)

In [26]:
# changing international dates to U.S.

pd.to_datetime(["2/1/2018", "3/1/2018"], format="%d/%m/%Y")

DatetimeIndex(['2018-01-02', '2018-01-03'], dtype='datetime64[ns]', freq=None)

In [31]:
data = np.random.randn(3, 2)

In [32]:
data

array([[-0.32539061, -0.04542415],
       [ 0.19578386, -0.66790046],
       [ 0.79282031, -0.57903444]])

In [33]:
index = pd.date_range("2020-01-01", periods=3, freq="D")
columns = ["A", "B"]

df = pd.DataFrame(data, index=index, columns=cols)

In [34]:
df

                   A         B
2020-01-01 -0.325391 -0.045424
2020-01-02  0.195784 -0.667900
2020-01-03  0.792820 -0.579034

In [35]:
# pandas knows the index is a datetime, not string attribute

df.index

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03'], dtype='datetime64[ns]', freq='D')

In [36]:
# return the most recent date

df.index.max()

Timestamp('2020-01-03 00:00:00', freq='D')

In [37]:
# return the index position for the most recent date

df.index.argmax()

2

In [38]:
# return the oldest date

df.index.min()

Timestamp('2020-01-01 00:00:00', freq='D')

In [39]:
# return the index position for the oldest date

df.index.argmin()

0