In [79]:
import pandas as pd

In [80]:
df = pd.read_csv("./data/pokemon_data.csv")

In [81]:
df.head(10)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,44,48,65,50,64,43,1,False

In [82]:
df.describe()

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,208.343798,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,184.750000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,364.500000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,539.250000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,721.000000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

In [83]:
df.columns

Index(['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [84]:
df["Name"]

0                  Bulbasaur
1                    Ivysaur
2                   Venusaur
3      VenusaurMega Venusaur
4                 Charmander
               ...
795                  Diancie
796      DiancieMega Diancie
797      HoopaHoopa Confined
798       HoopaHoopa Unbound
799                Volcanion
Name: Name, Length: 800, dtype: object

In [85]:
df[["Name", "Type 1", "Type 2"]]

                      Name   Type 1  Type 2
0                Bulbasaur    Grass  Poison
1                  Ivysaur    Grass  Poison
2                 Venusaur    Grass  Poison
3    VenusaurMega Venusaur    Grass  Poison
4               Charmander     Fire     NaN
..                     ...      ...     ...
795                Diancie     Rock   Fairy
796    DiancieMega Diancie     Rock   Fairy
797    HoopaHoopa Confined  Psychic   Ghost
798     HoopaHoopa Unbound  Psychic    Dark
799              Volcanion     Fire   Water

[800 rows x 3 columns]

In [86]:
df.iloc[0:5]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [87]:
df.iloc[0,1]

'Bulbasaur'

In [88]:
df.loc[df["Name"] == "Bulbasaur"]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False

In [89]:
for index, row in df.iterrows():
    if index == 0:
        print(row)

#                     1
Name          Bulbasaur
Type 1            Grass
Type 2           Poison
HP                   45
Attack               49
Defense              49
Sp. Atk              65
Sp. Def              65
Speed                45
Generation            1
Legendary         False
Name: 0, dtype: object

In [90]:
df.sort_values("Name")

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
510,460,Abomasnow,Grass,Ice,90,92,75,92,85,60,4,False
511,460,AbomasnowMega Abomasnow,Grass,Ice,90,132,105,132,105,30,4,False
68,63,Abra,Psychic,NaN,25,20,15,105,55,90,1,False
392,359,Absol,Dark,NaN,65,130,60,75,60,75,3,False
393,359,AbsolMega Absol,Dark,NaN,65,150,60,115,60,115,3,False
...,...,...,...,...,...,...,...,...,...,...,...,...
632,571,Zoroark,Dark,NaN,60,105,60,120,60,105,5,False
631,570,Zorua,Dark,NaN,40,65,40,80,40,65,5,False
46,41,Zubat,Poison,Flying,40,45,35,30,40,55,1,False
695,634,Zweilous,Dark,Dragon,72,85,70,65,70,58,5,False
794,718,Zygarde50% Forme,Dragon,Ground,108,100,121,81,95,95,6,True

In [91]:
df["Total"] = (df["HP"] + df["Attack"] + df["Defense"] + df["Sp. Atk"] + df["Sp. Def"] + df["Speed"]) / 6

In [92]:
df.head(5)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,53.000000
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,67.500000
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,87.500000
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,104.166667
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,51.500000

In [93]:
df.drop(columns=["Generation", "Legendary"], inplace=True)

In [94]:
df

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,53.000000
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,67.500000
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,87.500000
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,104.166667
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,51.500000
...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,100.000000
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,116.666667
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,100.000000
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,113.333333
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,100.000000

In [95]:
df.to_csv("./data/pokemon_data_modified.csv", index=False)

In [96]:
df.loc[(df["Type 1"] == "Grass") & (df["Type 2"] == "Poison")]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,53.000000
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,67.500000
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,87.500000
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,104.166667
48,43,Oddish,Grass,Poison,45,50,55,75,65,30,53.333333
49,44,Gloom,Grass,Poison,60,65,70,85,75,40,65.833333
50,45,Vileplume,Grass,Poison,75,80,85,110,90,50,81.666667
75,69,Bellsprout,Grass,Poison,50,75,35,70,30,40,50.000000
76,70,Weepinbell,Grass,Poison,65,90,50,85,45,55,65.000000
77,71,Victreebel,Grass,Poison,80,105,65,100,70,70,81.666667
344,315,Roselia,Grass,Poison,50,60,45,100,80,65,66.666667
451,406,Budew,Grass,Poison,40,30,35,50,70,55,46.666667
452,407,Roserade,Grass,Poison,60,70,65,125,105,90,85.833333
651,590,Foongus,Grass,Poison,69,55,45,55,55,15,49.000000
652,591,Amoonguss,Grass,Poison,114,85,70,85,80,30,77.333333

In [97]:
df.loc[df["Name"].str.contains("Mega")]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Total
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,104.166667
7,6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,105.666667
8,6,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,105.666667
12,9,BlastoiseMega Blastoise,Water,NaN,79,103,120,135,115,78,105.000000
19,15,BeedrillMega Beedrill,Bug,Poison,65,150,40,15,80,145,82.500000
23,18,PidgeotMega Pidgeot,Normal,Flying,83,80,80,135,80,121,96.500000
71,65,AlakazamMega Alakazam,Psychic,NaN,55,50,65,175,95,150,98.333333
87,80,SlowbroMega Slowbro,Water,Psychic,95,75,180,130,80,30,98.333333
102,94,GengarMega Gengar,Ghost,Poison,60,65,80,170,95,130,100.000000
124,115,KangaskhanMega Kangaskhan,Normal,NaN,105,125,100,60,100,100,98.333333
137,127,PinsirMega Pinsir,Bug,Flying,65,155,120,65,90,105,100.000000
141,130,GyaradosMega Gyarados,Water,Dark,95,155,109,70,130,81,106.666667
154,142,AerodactylMega Aerodactyl,Rock,Flying,80,135,85,70,95,150,102.500000
163,150,MewtwoMega Mewtwo X,Psychic,Fighting,106,190,100,154,100,130,130.000000
164,150,MewtwoMega Mewtwo Y,Psychic,NaN,106,150,70,194,120,140,130.000000
168,154,Meganium,Grass,NaN,80,82,100,83,100,80,87.500000
196,181,AmpharosMega Ampharos,Electric,Dragon,90,95,105,165,110,45,101.666667
224,208,SteelixMega Steelix,Steel,Ground,75,125,230,55,95,30,101.666667
229,212,ScizorMega Scizor,Bug,Steel,70,150,140,65,100,75,100.000000
232,214,HeracrossMega Heracross,Bug,Fighting,80,185,115,40,105,75,100.000000
248,229,HoundoomMega Houndoom,Dark,Fire,75,90,90,140,90,115,100.000000
268,248,TyranitarMega Tyranitar,Rock,Dark,100,164,150,95,120,71,116.666667
275,254,SceptileMega Sceptile,Grass,Dragon,70,110,75,145,85,145,105.000000
279,257,BlazikenMega Blaziken,Fire,Fighting,80,160,80,130,80,100,105.000000
283,260,SwampertMega Swampert,Water,Ground,100,150,110,95,110,70,105.833333
306,282,GardevoirMega Gardevoir,Psychic,Fairy,68,85,65,165,135,100,103.000000
327,302,SableyeMega Sableye,Dark,Ghost,50,85,125,85,115,20,80.000000
329,303,MawileMega Mawile,Steel,Fairy,50,105,125,55,95,50,80.000000
333,306,AggronMega Aggron,Steel,NaN,70,140,230,60,80,50,105.000000
336,308,MedichamMega Medicham,Fighting,Psychic,60,100,85,80,85,100,85.000000
339,310,ManectricMega Manectric,Electric,NaN,70,75,80,135,80,135,95.833333
349,319,SharpedoMega Sharpedo,Water,Dark,70,140,70,110,65,105,93.333333
354,323,CameruptMega Camerupt,Fire,Ground,70,120,100,145,105,20,93.333333
366,334,AltariaMega Altaria,Dragon,Fairy,75,110,110,110,105,80,98.333333
387,354,BanetteMega Banette,Ghost,NaN,64,165,75,93,83,75,92.500000
393,359,AbsolMega Absol,Dark,NaN,65,150,60,115,60,115,94.166667
397,362,GlalieMega Glalie,Ice,NaN,80,120,80,120,80,100,96.666667
409,373,SalamenceMega Salamence,Dragon,Flying,95,145,130,120,90,120,116.666667
413,376,MetagrossMega Metagross,Steel,Psychic,80,145,150,105,110,110,116.666667
418,380,LatiasMega Latias,Dragon,Psychic,80,100,120,140,150,110,116.666667
420,381,LatiosMega Latios,Dragon,Psychic,80,130,100,160,120,110,116.666667
426,384,RayquazaMega Rayquaza,Dragon,Flying,105,180,100,180,100,115,130.000000
476,428,LopunnyMega Lopunny,Normal,Fighting,65,136,94,54,96,135,96.666667
494,445,GarchompMega Garchomp,Dragon,Ground,108,170,115,120,95,92,116.666667
498,448,LucarioMega Lucario,Fighting,Steel,70,145,88,140,70,112,104.166667
511,460,AbomasnowMega Abomasnow,Grass,Ice,90,132,105,132,105,30,99.000000
527,475,GalladeMega Gallade,Psychic,Fighting,68,165,95,65,115,110,103.000000
591,531,AudinoMega Audino,Normal,Fairy,103,60,126,80,126,50,90.833333
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,116.666667

In [98]:
# use ~ for not expressions

df.loc[~df["Name"].str.contains("Mega")]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,53.000000
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,67.500000
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,87.500000
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,51.500000
5,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,67.500000
...,...,...,...,...,...,...,...,...,...,...,...
794,718,Zygarde50% Forme,Dragon,Ground,108,100,121,81,95,95,100.000000
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,100.000000
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,100.000000
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,113.333333
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,100.000000

In [99]:
import re

df.loc[df["Type 1"].str.contains("Fire|Grass", regex=True)]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,53.000000
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,67.500000
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,87.500000
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,104.166667
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,51.500000
...,...,...,...,...,...,...,...,...,...,...,...
735,667,Litleo,Fire,Normal,62,50,58,73,54,72,61.500000
736,668,Pyroar,Fire,Normal,86,68,72,109,66,106,84.500000
740,672,Skiddo,Grass,NaN,66,65,48,62,57,52,58.333333
741,673,Gogoat,Grass,NaN,123,100,62,97,81,68,88.500000
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,100.000000

In [100]:
df.groupby(["Type 1"]).mean().sort_values("Defense", ascending=False)

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Total
Type 1,,,,,,,,
Steel,442.851852,65.222222,92.703704,126.370370,67.518519,80.629630,55.259259,81.283951
Rock,392.727273,65.363636,92.863636,100.795455,63.340909,75.477273,55.909091,75.625000
Dragon,474.375000,83.312500,112.125000,86.375000,96.843750,88.843750,83.031250,91.755208
Ground,356.281250,73.781250,95.750000,84.843750,56.468750,62.750000,63.906250,72.916667
Ghost,486.500000,64.437500,73.781250,81.187500,79.343750,76.468750,64.343750,73.260417
Water,303.089286,72.062500,74.151786,72.946429,74.812500,70.517857,65.964286,71.742560
Ice,423.541667,72.000000,72.750000,71.416667,77.541667,76.291667,63.458333,72.243056
Grass,344.871429,67.271429,73.214286,70.800000,77.500000,70.428571,61.928571,70.190476
Bug,334.492754,56.884058,70.971014,70.724638,53.869565,64.797101,61.681159,63.154589
Dark,461.354839,66.806452,88.387097,70.225806,74.645161,69.516129,76.161290,74.290323
Poison,251.785714,67.250000,74.678571,68.821429,60.428571,64.392857,63.571429,66.523810
Fire,327.403846,69.903846,84.769231,67.769231,88.980769,72.211538,74.442308,76.346154
Psychic,380.807018,70.631579,71.456140,67.684211,98.403509,86.280702,81.491228,79.324561
Electric,363.500000,59.795455,69.090909,66.295455,90.022727,73.704545,84.500000,73.901515
Flying,677.750000,70.750000,78.750000,66.250000,94.250000,72.500000,102.500000,80.833333
Fighting,363.851852,69.851852,96.777778,65.925926,53.111111,64.703704,66.074074,69.407407
Fairy,449.529412,74.117647,61.529412,65.705882,78.529412,84.705882,48.588235,68.862745
Normal,319.173469,77.275510,73.469388,59.846939,55.816327,63.724490,71.551020,66.947279

In [101]:
df["Count"] = 1

In [103]:
df.groupby(["Type 1"]).count()["Count"]

Type 1
Bug          69
Dark         31
Dragon       32
Electric     44
Fairy        17
Fighting     27
Fire         52
Flying        4
Ghost        32
Grass        70
Ground       32
Ice          24
Normal       98
Poison       28
Psychic      57
Rock         44
Steel        27
Water       112
Name: Count, dtype: int64